<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="exports :: head (#{home.title})"></head>
<body>
<div>
    <nav th:replace="exports :: navigation ('dashboard')"></nav>
</div>
<nav aria-label="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}" th:text="#{navigation.home}"></a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{navigation.dashboard}"></li>
        </ol>
    </nav>
</nav>
<div class="container">
    <p class="text-center">
    <h2>Dashboard</h2>
    </p>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{dashboard.count}"></th>
                    <th scope="col" th:text="#{dashboard.serverName}"></th>
                    <th scope="col" th:text="#{dashboard.moderationLevel}"></th>
                    <th scope="col" th:text="#{dashboard.information}"></th>
                    <th scope="col" th:text="#{dashboard.actionsCol}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="guild, index : ${administrationGuilds}">
                    <th scope="row" th:text="${index.index + 1}"></th>
                    <td th:text="${guild.getName()}"></td>
                    <td th:if="${guild.getPermissions() == 2147483647}" th:text="#{permissions.administratorRole}"></td>
                    <td th:if="${guild.getPermissions() != 2147483647}" th:text="#{permissions.userRole}"></td>
                    <td th:if="${guild.getBotExists()}">
                        <form method="get" th:action="@{/dashboard/user-info}">
                            <input type="hidden" name="guildId" th:value="${guild.getId()}">
                            <button type="submit" class="btn btn-primary" th:text="#{dashboard.infoButtonText}"></button>
                        </form>
                    </td>
                    <td th:if="${!guild.getBotExists()}" th:text="#{dashboard.placeholder}"></td>
                    <td th:if="${guild.getPermissions() == 2147483647 && !guild.getBotExists()}">
                        <form method="get" action="https://discord.com/oauth2/authorize">
                            <input type="hidden" name="client_id" th:value="${client_id}" />
                            <input type="hidden" name="guild_id" th:value="${guild.getId()}" />
                            <input type="hidden" name="scope" value="bot" />
                            <button type="submit" class="btn btn-primary" th:text="#{dashboard.addBotButton}"></button>
                        </form>
                    </td>
                    <td th:if="${guild.getPermissions() == 2147483647 && guild.getBotExists()}">
                        <form method="get" th:action="@{/configuration}">
                            <input type="hidden" name="guildId" th:value="${guild.getId()}">
                            <button type="submit" class="btn btn-primary" th:text="#{dashboard.manageBotButton}"></button>
                        </form>
                    </td>
                    <td th:if="${guild.getPermissions() != 2147483647}">-</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>