<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="exports :: head (#{home.title})"></head>
<body>
    <div>
        <nav th:replace="exports :: navigation ('documentation')"></nav>
    </div>
    <nav aria-label="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}" th:text="#{navigation.home}"></a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{navigation.documentation}"></li>
            </ol>
        </nav>
    </nav>
    <div class="container h-100 d-flex flex-column">
        <div class="text-center flex-grow-0">
            <h2>Documentation</h2>
        </div>
        <div class="row flex-grow-1">
            <div class="col-3 position-relative">
                <nav class="navbar navbar-dark bg-primary flex-column overflow-auto">
                    <nav class="nav nav-pills flex-column">
                        <th:block th:each="CommandName : ${CommandNames}">
                            <a href="" class="nav-link" th:text="${CommandName.getCommandName()}"></a>
                            <nav class="nav nav-pills flex-column ml-3">
                                <a href="" class="nav-link">Description</a>
                                <a href="" class="nav-link">Arguments</a>
                                <nav class="nav nav-pills flex-column ml-3"  th:with="Arguments=${CommandName.getArguments()}">
                                    <a href="" class="nav-link" th:each="Argument : ${Arguments}"  th:text="${Argument.getName()}"></a>
                                </nav>
                            </nav>
                        </th:block>
                    </nav>
                </nav>
            </div>
            <div class="col-9">

            </div>
        </div>
    </div>
</body>
</html>